<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAC_eHK59AandtjBS7CRDXcdIsSAUT2X7E</string>
	<key>GCM_SENDER_ID</key>
	<string>715172503180</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.groceryFinalProject</string>
	<key>PROJECT_ID</key>
	<string>grocery-app-authentication</string>
	<key>STORAGE_BUCKET</key>
	<string>grocery-app-authentication.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:715172503180:ios:099160cbf271997b68a5a9</string>
</dict>
</plist>